.Pendragon.encounter {

  overflow: visible;
  font-family: "Messiri";

  & .window-content {
    background-color: var(--background-color);
    background-image: none;
    background-size: auto;
  }

  .enc-main-sheet {
   min-height: 410px;
  }



  img.encline {
    content: url("../assets/Sidebar Bottom Border Red.webp");
    background-size:contain; 
    padding: 0;
    border: none;
  }

  .enc-back {
    height: 133px;
    padding-top: 5px;
    color: cornsilk;
    text-align: center;
  }

  .enc-title {
    font-size: 1.5em; 
    input {
      max-height: 30px;
      color: cornsilk;
      text-align: center;
      border: none;
      box-shadow: none;
      background-color: transparent;
    }
  }  

  .enc-shortDesc {
    padding: 0 0.5rem;
  }

  textarea.enc-shortDesc {
    min-height: 96px;
    width: 100%;
    color: cornsilk;
    text-align: center;
    border: none;
    padding: 0 0.5rem;
    font-family: "Messiri";
    font-size: 16px;
    box-shadow: none;
  }

  .enc-notes-section {
    position: absolute;
    min-width: 355px;
    min-height: 514px;
    border: 1px solid var(--pendragon-black);
    color: var(--pendragon-black);
    top: 35px;
    left: -355px;
    background-color: var(--notes-background);  
    color: black;       
  }  

  .enc-npc-section {
    position: absolute;
    min-width: 355px;
    max-width: 355px;    
    min-height: 514px;
    border: 1px solid var(--pendragon-black);
    color: var(--pendragon-black);
    top: 35px;
    right: -355px;
    background-color: var(--background-color);   
    padding: 4px;      
  }  

  .encBack {
    background-color: var(--sec-background-color);    
  }

  .oppBack {
    background-color: var(--pendragon-blue);    
  }



  .enc-notes-icon {
    display: block;
    position: absolute;
    left: 13px;
    top: 63px;
    font-size: 1rem;
  }

  .enc-lock-icon {
    display: block;
    position: absolute;
    right: 12px;
    top: 63px;
    font-size: 1rem;
  }  

  .enc-opp-icon {
    display: block;
    position: absolute;
    right: 12px;
    top: 170px;
    font-size: 1rem;
  } 
  
  .enc-used-icon {
    display: block;
    position: absolute;
    left: 13px;
    top: 170px;
    font-size: 1rem;
  } 

  .morale-loss {
    display: grid;
    grid-template-columns: 100px 85px 100px 85px;
    column-gap: 4px;
    padding-top: 5px;
    height: 25px;
    color: var(--pendragon-black);
  }

  .enc-display {
    height: 1.2em;
    border: 1px transparent solid;
    font-weight: bold;
  }

  .enc-input input {
    height: 1.2em;
    padding-top: 3px;
    font-weight: bold;
  }

  .partic-grid {
    display: grid;
    grid-template-columns: 188px 188px;
    row-gap: 6px;
    column-gap: 6px;
    padding-top: 8px;
  }

  .partic-cell {
    height: 105px;
    border: 1px solid var(--pendragon-black);
    padding: 3px;
    color: var(--pendragon-black);
    background-color: var(--pendragon-grey);
  }

  .partic-cell-icons {
    display: grid;
    grid-template-columns: repeat(5, 30px);
    column-gap: 6px;  
  }

  .morale-min {
    display: grid;
    grid-template-columns: 125px auto 125px;
    padding-top: 8px;
    min-height: 86px
  }

  .npc-title {
    text-transform: uppercase;
    text-align:center;
    color: var(--pendragon-darkred);
    border-bottom: 2px solid var(--sec-background-color);
    font-weight: bold;
  }

  .npc-stats {
    display: grid;
    grid-template-columns: repeat(4,60px);
    text-align:center;
    color: var(--pendragon-darkred);;
    padding: 8px 53px 0 52px;
  }

  .brdrbottom {
    border-bottom: 2px solid var(--sec-background-color);
  }

  .brdrright{
    border-right: 2px solid var(--sec-background-color);
  }

  .attacks {
    text-transform: uppercase;
    color: var(--pendragon-darkred);;
    font-weight: bold;
  }

  .npc-wpn {
    display: grid;
    grid-template-columns: 190px 50px 95px;    
    column-gap: 5px;  
    padding-top:2px;
    height: 20px;
    margin: 0px;
  }

  .npc-wpn-list{
    list-style: none;
    margin: 0;
    padding: 0;    
  }

  ol.npc-wpn-list li:nth-child(odd){
    background-color: var(--pd-dark-row);
  }

  ol.npc-wpn-list li:nth-child(even){
    background-color: var(--pd-light-row);
  }

  ol.npc-wpn-list li:first-child{
    background-color: var(--pd-first-row);
    color: cornsilk;
    text-transform: uppercase;
  }

  .npc-stat-block {
    display: grid;
    grid-template-columns: 169px 169px;    
    column-gap: 7px; 
    font-size: 0.9rem;     
  }

  .npc-stat-smallblock {
    display: grid;
    grid-template-columns: 104px 65px;     
        padding-top:2px;
    height: 20px;
    margin: 0px;  
  }
  .pad-left {
    padding-left: 2px;
  }

  .enc-npc-skills {
    padding-top: 8px;
    overflow-wrap: break-word;
    white-space: wrap;
  }
  
  .enc-npc-note {
    overflow-wrap: break-word;
    white-space: wrap;   
    p {
      font-weight: normal;
      margin: 0px;
    }
  }

  .fraction {
    font-variant-numeric:diagonal-fractions;
  }

  .main-section {
    min-height: 454px
  }

  .ransom {
    max-height: 50px;
    padding-top: 8px;
  }
}

.enc-notes .prosemirror,
.enc-notes prose-mirror {
  min-height: 470px;
  height: 100%;
  width: 335px;
  color: black;
}

.enc-notes .prosemirror .editor-content,
.enc-notes prose-mirror .editor-content {
  max-height: 465px;
}