<section class="tab {{tab.cssClass}}" data-group="primary" data-tab="biography">
    <h2>Biography</h2>
    <p>Age XX (born YEAR)</p>
    <p>Heir</p>
    <p>Barren</p>
    <p>Motto</p>
    <p>Blazon</p>
    <p>Background</p>
</section>
