  <section class="tab combat {{tab.cssClass}}" data-group="primary" data-tab="combat">
<div class="combat-grid" style="overflow:hidden auto;">
  <div>
    <button><strong>Mounted (Charger)</strong></button>
    <button>On Foot</button>
    <button>Prone</button>

    <p>Armour Points: 10 + 6</p>
    <p>Wielding: Lance (6D6)</p>
    <p>Knockdown: 14</p>
    <p>Major Wound: 14</p>
    <p>Unconscious: 7</p>
  </div>


  <div>
    <h2>Combat Actions</h2>
    <button>Call Squire (Ned)</button>
    <button>Attack</button>
    <button>Reckless Attack</button>
    <button>Claim a Prisoner</button>
    <button>Defend</button>
    <button>Disarm</button>
    <button>Evade</button>
    <button>Pick Up</button>
    <button>Self-sacrifice</button>
    <button>Study</button>
    <button>Withhold Damage</button>
    <button>Zigzag</button>
    <h3>Mounted</h3>
    <button>Mounted Charge</button>
    <button>Control Mount</button>
    <button>Trample</button>
    <button>Dismount</button>
    <button>Emergency Dismount</button>
    <h3>On Foot</h3>
    <button>Dodge</button>
    <button>Don Armour</button>
    <button>Hook</button>
    <button>Set Spear</button>
    <button>Leap into Saddle</button>
    <button>Mount Up</button>
  </div>
</div>
</section>