<form class="Pendragon" id="check-roll-form">
    {{#if (eq cardType 'NO')}}
      <div class = "diff-label bold">{{ localize 'PEN.card.NO'}}
    {{else}}
      <div class = "diff-label bold">{{ localize 'PEN.card.OP'}}
    {{/if}}

    {{#unless (eq decision 'choose')}}
      : {{label}}
    {{/unless}}
    </div>  
    <br>

    {{#if (eq decision 'choose')}}
      <div class="flexrow">
        <label class="resource-label-diff">{{ localize 'PEN.chooseTrait' }}</label>
        <select class="resource-label-diff align-center" name="decisionChoice">
          <option value="main" >{{label}}</option>
          <option value="opp">{{oppLabel}}</option>
        </select>
      </div>
      <br>
    {{/if}}

    {{#if reflex}}
      <div class="flexrow">
        <label title = "{{ localize 'PEN.checkBonusHint' }}" >{{localize "PEN.reflexMod"}}</label>   
          <input data-handle-change class="centre" type="number" value="{{formData.reflexMod}}" name="reflexMod">
      </div>
      <br>
    {{/if}}

    {{#unless (eq rollType 'DC')}}
      <div class="flexrow">
        <label title = "{{ localize 'PEN.checkBonusHint' }}" >{{localize "PEN.checkBonus"}}</label>   
          <input data-handle-change class="centre" type="number" value="{{formData.checkBonus}}" name="checkBonus">
      </div>
    {{/unless}}  
    <br>  
  </form>