<section>

  <div class="stat-name left bold">{{localize 'PEN.winterPhaseSteps'}}</div>
  <br>

  <div class="stat-name left bold xp-check clickable">{{localize 'PEN.xpRoll'}}</div>
  <br>

  <div class="stat-name left">{{localize 'PEN.training'}}</div>
  <div class="stat-name centre bold train-single clickable">{{localize 'PEN.singleTrain'}}</div>
  <div class="stat-name centre bold train-multiple clickable">{{localize 'PEN.spreadTrain'}}</div>
  <br>

  <div class="stat-name left bold prestige-check clickable">{{localize 'PEN.prestigeAward'}} ({{system.gloryPrestige}})</div>

  {{#if isGM}}
    {{#unless system.lock}}
      <div class="hp-grid">
        <div class="stat-name"> {{localize 'PEN.prestigeSpent'}}</div>
        <div class="dam-name-input centre"><input name="system.prestige" type="text" value="{{system.prestige}}" placeholder=10 data-dtype="Number"/></div>
      </div>
    {{/unless}}
  {{/if}}
  <br>

</section>