{{#unless isCreation}}
  <ol class="items-list">
    {{#each traits as |trait key|}}
      <li class="item trait-grid" data-item-id="{{trait._id}}">
        <div class="stat-name centre new-row" title="{{trait.system.flavour}}">{{trait.system.total}}</div>
        <div class="centre"><a class="item-control item-toggle large-icon" data-itemid ="{{trait._id}}" data-property="XP" title="{{localize 'PEN.dblClickToggle'}}"><i class="{{#if trait.system.XP}}fa-regular fa-square-check{{else}}fa-regular fa-square{{/if}}"></i></a></div>
        <div class="stat-name right rollable trait" title="{{localize 'PEN.rollHint'}}" data-type ="trait" data-itemid="{{trait._id}}">{{trait.name}}</div>
        <div class="stat-name centre">
          <a class="item-control item-toggle large-icon rollable decision" data-itemid="{{trait._id}}" title="{{localize 'PEN.decisionTrait'}}"><i class="fa-regular fa-scale-balanced"></i></a>
        </div>
        <div class="stat-name rollable trait" title="{{localize 'PEN.rollHint'}}" data-type ="opptrait" data-itemid="{{trait._id}}">{{trait.system.oppName}}</div>
        <div class="centre"><a class="item-control item-toggle large-icon" data-itemid ="{{trait._id}}" data-property="oppXP" title="{{localize 'PEN.dblClickToggle'}}"><i class="{{#if trait.system.oppXP}}fa-regular fa-square-check{{else}}fa-regular fa-square{{/if}}"></i></a></div>
        <div class="stat-name centre" title="{{trait.system.oppFlavour}}">{{trait.system.oppvalue}}</div>
        {{#if ../system.lock}}
          <div class="centre item" data-itemid ="{{trait._id}}"><a class="item-control item-edit large-icon fade"><i title="{{localize 'PEN.view'}}" class="fa-solid fa-eye"></i></a></div>
        {{else}}
          <div class="centre item" data-itemid ="{{trait._id}}"><a class="item-control item-delete large-icon fade"><i title="{{localize 'PEN.delete'}}" class="fa-solid fa-broom-wide"></i></a></div>
        {{/if}}
        <div class="stat-name trucated" title="{{localize 'PEN.directed' }}">{{trait.system.directed}}</div>
        </li>
      {{/each}}
  </ol>
{{else}} 
<ol class="skill-dev-list">
  <div class="skill-dev-listitem">
    <div class="stat-name bold grid-item-top grid-item-left">{{localize 'PEN.trait'}}</div>
    <div class="stat-name bold centre grid-item-top">{{localize 'PEN.base'}}</div>
    <div class="stat-name bold centre grid-item-top">{{localize 'PEN.religion'}}</div>  
    <div class="stat-name bold centre grid-item-top">{{localize 'PEN.winter'}}</div>   
    <div class="stat-name bold centre grid-item-top">{{localize 'PEN.total'}}</div>
    <div class="stat-name bold centre grid-item-top">{{localize 'PEN.opposing'}}</div>
    <div class="centre"><a class="trait-roll large-icon {{#if actor.system.create.traits}}result-fail{{else}}fade{{/if}}"><i title="{{localize 'PEN.roll'}}" class="fas fa-dice"></i></a></div>
  </div>  

  {{#each traits as |trait key|}}
    <li class="item skill-dev-listitem" data-item-id="{{trait._id}}">
      <div class="stat-name truncate new-row grid-item-left" title="{{trait.name}}">{{trait.name}}</div>
      <div class="stat-name-input item centre grid-item" data-field="trait" data-att="value" data-itemid ="{{trait._id}}"><input class="inline-edit" name="trait.system.value" type="text" value="{{trait.system.value}}" data-dtype="Number"/></div>
      <div class="stat-name-input item centre grid-item" data-field="trait" data-att="religious" data-itemid ="{{trait._id}}"><input class="inline-edit" name="trait.system.religious" type="text" value="{{trait.system.religious}}" data-dtype="Number"/></div>
      <div class="stat-name-input item centre grid-item" data-field="trait" data-att="winter" data-itemid ="{{trait._id}}"><input class="inline-edit" name="trait.system.winter" type="text" value="{{trait.system.winter}}" data-dtype="Number"/></div>
      <div class="stat-name centre grid-item">{{trait.system.total}}</div>
      <div class="stat-name centre grid-item">{{trait.system.oppvalue}}</div>
    </li>
  {{/each}}
</ol>

{{/unless}} 