<ol class="skill-list">
  {{#each passions as |passion key|}}
    <li class="item skill-listitem" data-itemid="{{passion._id}}">
      <div class="passion-grid">
        <div class="centre"><a class="item-control item-toggle large-icon" data-itemid ="{{passion._id}}" data-property="XP" title="{{localize 'PEN.dblClickToggle'}}"><i class="{{#if passion.system.XP}}fa-regular fa-square-check{{else}}fa-regular fa-square{{/if}}"></i></a></div>
        <div class="stat-name rollable" data-label="{{passion.name}}" data-target="{{passion.system.value}}" data-type ="passion" data-itemid="{{passion._id}}">{{passion.name}}</div>
        {{#if ../system.lock}}
          <div class="stat-name centre">{{passion.system.value}}</div>
        {{else}}
          <div class="stat-name-input trait-input centre item" data-field="passion" data-itemid ="{{passion._id}}"><input class="inline-edit" name="item.system.passion.{{key}}.value" type="text" value="{{passion.system.value}}" data-dtype="Number"/></div>
        {{/if}}
        
        {{#if ../system.lock}}
          <div class="centre item" data-itemid ="{{passion._id}}"><a class="item-control item-edit large-icon fade"><i title="{{localize 'PEN.view'}}" class="fa-solid fa-eye"></i></a></div>
        {{else}}
          <div class="centre item" data-itemid ="{{passion._id}}"><a class="item-control item-delete large-icon fade"><i title="{{localize 'PEN.delete'}}" class="fa-solid fa-broom-wide"></i></a></div>
        {{/if}}
      </div>
    </li>
  {{/each}}
</ol>