<form class="Pendragon {{cssClass}} character" autocomplete="off">

  <section class="main-sheet">

    <section class="title-section">
      {{!-- Characteristics Header --}}
      <section class="sheet-header">
        <div class="charname-input"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></div>
        <div class="char-grid">
          <div class="stat-grid">
            {{#each system.stats as |stat key|}}
              <div class="stat-name left bold rollable stat" title="{{localize 'PEN.rollHint'}}" data-stat="{{key}}">{{stat.labelShort}}</div>
              <div class="stat-name centre {{#isOr (lt stat.poison 0) (lt stat.disease 0)}}result-success bold italics{{/isOr}}">{{stat.total}}</div>
            {{/each}}
          </div>

          <div class="status-grid">
            <div class="stat-name"><a class="item-control actor-toggle large-icon" data-property="debilitated" title="{{localize 'PEN.dblClickToggle'}}"><i class="{{#if statuses.debilitated}}fa-regular fa-square-check{{else}}fa-regular fa-square{{/if}}"></i></a></div>
            <div class="stat-name">{{localize 'PEN.debilitated'}}</div>
            <div class="stat-name"><a class="item-control actor-toggle large-icon" data-property="unconscious" title="{{localize 'PEN.dblClickToggle'}}"><i class="{{#if statuses.unconscious}}fa-regular fa-square-check{{else}}fa-regular fa-square{{/if}}"></i></a></div>
            <div class="stat-name">{{localize 'PEN.unconscious'}}</div>
            <div class="stat-name"><a class="item-control actor-toggle large-icon" data-property="dying" title="{{localize 'PEN.dblClickToggle'}}"><i class="{{#if statuses.dying}}fa-regular fa-square-check{{else}}fa-regular fa-square{{/if}}"></i></a></div>
            <div class="stat-name">{{localize 'PEN.nearDeath'}}</div>
            <div class="stat-name"><a class="item-control actor-toggle large-icon" data-property="maddened" title="{{localize 'PEN.dblClickToggle'}}"><i class="{{#if statuses.maddened}}fa-regular fa-square-check{{else}}fa-regular fa-square{{/if}}"></i></a></div>
            <div class="stat-name">{{localize 'PEN.madness'}}</div>
            <div class="stat-name"><a class="item-control actor-toggle large-icon" data-property="melancholic" title="{{localize 'PEN.dblClickToggle'}}"><i class="{{#if statuses.melancholic}}fa-regular fa-square-check{{else}}fa-regular fa-square{{/if}}"></i></a></div>
            <div class="stat-name">{{localize 'PEN.melancholy'}}</div>
            <div class="stat-name"><a class="item-control actor-toggle large-icon" data-property="miserable" title="{{localize 'PEN.dblClickToggle'}}"><i class="{{#if statuses.miserable}}fa-regular fa-square-check{{else}}fa-regular fa-square{{/if}}"></i></a></div>
            <div class="stat-name">{{localize 'PEN.misery'}}</div>



          </div>
          <div>
            <div class="hp-grid">
              <div class="stat-name left bold">{{localize 'PEN.hp'}}</div>
              <div class="stat-name centre">{{system.hp.value}} / {{system.hp.max}}</div>
              <div class="stat-name left bold rollable move" title="{{localize 'PEN.rollHint'}}">{{localize 'PEN.move'}}</div>
              <div class="stat-name centre">{{system.move}}</div>
              <div class="stat-name left bold rollable glory" title="{{localize 'PEN.rollHint'}}">{{localize 'PEN.glory'}}  ({{system.reputation}})</div>
              <div class="stat-name centre">{{system.glory}}</div>
              <div class="stat-name left bold">{{localize 'PEN.damage'}}</div>
              <div class="stat-name centre">{{system.damage}}</div>
              <div class="stat-name left bold">{{localize 'PEN.armour'}}</div>
              <div class="stat-name centre" title = "{{localize 'PEN.armourShield'}}">{{system.armour}} / {{system.shield}}</div>
            </div>  
            <div class="cash-grid">
              <div class="stat-name left bold">{{localize 'PEN.money'}}</div>
              <div class="stat-name-input right"><input name="system.money.libra" type="text" value="{{system.money.libra}}"/></div>
              <div class="stat-name-input"> /</div>
              <div class="stat-name-input left"><input name="system.money.denarii" type="text" value="{{system.money.denarii}}"/></div>
            </div>
           </div>    
        </div>
      </section>

      {{!-- Image Section --}}
      <section class="sheet-header">
        <div class="right">
            <a class="xlarge-icon charcreate {{#if system.create.complete}}fade{{else}}darkred{{/if}} rollable"> <i class="{{#if isCreation}}fas fa-shield-quartered{{else}}fas fa-none{{/if}}"></i> </a>
        </div>
        <div class="img-bottom">
          <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="150" width="150"/>
        </div>
      </section>  
    </section>


    {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    {{#isOr isWinter isDevelopment}}
      <a class="item tab-name" data-tab="winter">{{localize 'PEN.winter'}}</a>
    {{/isOr}}
    <a class="item tab-name" data-tab="combat">{{localize 'PEN.combat'}}</a>
    <a class="item tab-name" data-tab="traits">{{localize 'PEN.traits'}}</a>
    <a class="item tab-name" data-tab="passions">{{localize 'PEN.passions'}}</a>
    <a class="item tab-name" data-tab="skills">{{localize 'PEN.skills'}}</a>
    <a class="item tab-name" data-tab="items">{{localize 'PEN.equipment'}}</a>
    <a class="item tab-name" data-tab="companions">{{localize 'PEN.companions'}}</a>
    <a class="item tab-name" data-tab="history">{{localize 'PEN.events'}}</a>
    <a class="item tab-name" data-tab="house">{{localize 'PEN.house'}}</a>
    {{#if useRelation}}<a class="item tab-name" data-tab="follower">{{localize 'PEN.follower'}}</a>{{/if}}
    <a class="item tab-name" data-tab="biography">{{localize 'PEN.biography'}}</a>
    <a class="item tab-name" data-tab="stats">{{localize 'PEN.stats'}}</a>
    <a class="large-icon  middle actor-toggle" title="{{ localize 'PEN.lock' }}" data-property="lock"> <i style=width:25px class="{{#if system.lock}}fas fa-lock{{else}}fas fa-lock-open{{/if}}"></i> </a>

  </nav>

  {{!-- Bottom-Panel --}}
  <section class="bottom-panel">
    <section class="sheet-body">

      {{!-- Trait Tab --}}
      <div class="tab traits" data-group="primary" data-tab="traits">
        {{> "systems/Pendragon/templates/actor/parts/actor-traits.html"}}
      </div>

      {{!-- SKills Tab --}}
      <div class="tab skills" data-group="primary" data-tab="skills">
        {{> "systems/Pendragon/templates/actor/parts/actor-skills.html"}}
      </div>

      {{!-- Biography Tab --}}
        <div class="tab biography flexcol" data-group="primary" data-tab="biography">
          {{> "systems/Pendragon/templates/actor/parts/actor-biography.html"}}
      </div>

      {{!-- Owned Items Tab --}}
      <div class="tab items" data-group="primary" data-tab="items">
         {{> "systems/Pendragon/templates/actor/parts/actor-items.html"}}
      </div>

      {{!-- Combat Tab --}}
      <div class="tab combat" data-group="primary" data-tab="combat">
        {{> "systems/Pendragon/templates/actor/parts/actor-combat.html"}}
      </div>

      {{!-- History Tab --}}
      <div class="tab history" data-group="primary" data-tab="history">
        {{> "systems/Pendragon/templates/actor/parts/actor-history.html"}}
      </div>

      {{!-- Passions Tab --}}
      <div class="tab passions" data-group="primary" data-tab="passions">
        {{> "systems/Pendragon/templates/actor/parts/actor-passions.html"}}
      </div>

      {{!-- Companions Tab --}}
      <div class="tab companions" data-group="primary" data-tab="companions">
        {{> "systems/Pendragon/templates/actor/parts/actor-companions.html"}}
      </div>

      {{!-- House Tab --}}
      <div class="tab house" data-group="primary" data-tab="house">
        {{> "systems/Pendragon/templates/actor/parts/actor-house.html"}}
      </div>

      {{!-- Follower Tab --}}
      <div class="tab follower" data-group="primary" data-tab="follower">
        {{> "systems/Pendragon/templates/actor/parts/actor-follower.html"}}
      </div>

      {{!-- Stats Tab --}}
      <div class="tab stats" data-group="primary" data-tab="stats">
        {{> "systems/Pendragon/templates/actor/parts/actor-stats.html"}}
      </div>

      {{!-- Winter Phase Tab --}}
      <div class="tab winter" data-group="primary" data-tab="winter">
        {{> "systems/Pendragon/templates/actor/parts/actor-winter.html"}}
      </div>

    </section>
  </section>
  </section>
</form>

