<form class="{{cssClass}} character" autocomplete="off">

  <section class="main-sheet">

    <section class="npc-title-section">
      {{!-- Characteristics Header --}}
      <section class="sheet-header">
          <div class="npcname-input"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></div>
        
        <div class="npc-grid">
          {{#each system.stats as |stat key|}}
            <div class="npc-name centre bold rollable stat" data-stat="{{key}}">{{stat.labelShort}}</div>
          {{/each}}             
            
          {{#each system.stats as |stat key|}}
            {{#if ../system.lock}}
              <div class="npc-name centre">{{stat.value}}</div>
            {{else}}
              <div class="npc-name-input centre"><input name="system.stats.{{key}}.value" type="text" value="{{stat.value}}" placeholder=10 data-dtype="Number"/></div>
            {{/if}}
          {{/each}}
        </div>
      </section>

      {{!-- Image Section --}}
      <section class="sheet-header">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="70" width="70"/>
      </section>  

      {{!-- Icone Section --}}      
      <section class="bottom sheet-header">      
        <div class="centre middle-icon"><a class="close-sheet" title="{{ localize 'PEN.close' }}"> <i class="fas fa-circle-xmark"></i></a></div>
        {{#if system.lock}}
          <div><a class=""><i class="fas"></i></a></div>
        {{else}}  
          <div class="centre middle-icon"><a class="npcAutoCalc" title="{{ localize 'PEN.calcNPC' }}"> <i class="fas fa-dice"></i></a></div>
        {{/if}}
        <div class="centre middle-icon"><a class="actor-toggle" title="{{ localize 'PEN.lock' }}" data-property="lock"> <i class="{{#if system.lock}}fas fa-lock{{else}}fas fa-lock-open{{/if}}"></i></a></div>
      </section>

    </section>

    {{!--Derived Stats Block --}}
    <section class="npc-stats-grid">
      {{#if system.lock}}
        <div class="npc-name left bold">{{localize 'PEN.hp'}}</div>
        <div class="npc-name centre">{{system.hp.value}} / {{system.hp.max}}</div>
        <div></div>
        <div class="npc-name left bold">{{localize 'PEN.wounds'}}</div>
        <div class="npc-name-input centre"><input name="system.woundTotal" type="number" min="0" oninput="validity.valid||(value='');" value="{{system.woundTotal}}" data-dtype="Number"/></div>

       <div class="npc-name left bold">{{localize 'PEN.knockdown'}}</div>
        <div class="npc-name centre">{{system.manKnockdown}}</div>
        <div></div>
        <div class="npc-name left bold">{{localize 'PEN.armour'}}</div>
        <div class="npc-name centre" title = "{{localize 'PEN.armourShield'}}">{{system.manArm}} / {{system.manShd}}</div>
      
        <div class="npc-name left bold">{{localize 'PEN.mjrWnd'}}</div>
        <div class="npc-name centre">{{system.manMjrWnd}}</div>
        <div></div>
        <div class="npc-name left bold rollable glory">{{localize 'PEN.gloryAward'}}</div>
        <div class="npc-name centre">{{system.gloryAward}}</div>

        <div class="npc-name left bold">{{localize 'PEN.unconscious'}}</div>
        <div class="npc-name centre">{{system.hp.unconscious}}</div>
        <div></div>
        <div class="npc-name left bold" title="{{ localize 'PEN.valModHint' }}">{{localize 'PEN.valMod'}}</div>
        <div class="npc-name centre">{{system.valMod}}</div>

        <div class="npc-name left bold">{{localize 'PEN.damage'}}</div>
        <div class="npc-name centre">{{system.manDmg}}</div>
        <div></div>
        <div class="npc-name left bold">{{localize 'PEN.healRate'}}</div>
        <div class="npc-name centre">{{system.manHealRate}}</div>

        <div class="npc-name left bold rollable move" data-property="move">{{localize 'PEN.move'}}</div>
        <div class="npc-name centre">{{system.manMove}}</div>
        <div></div>
        <div class="npc-name left bold rollable move" data-property="altmove">{{system.altMoveTitle}}</div>
        <div class="npc-name centre">{{system.altMove}}</div>

      {{else}}
  
        <div class="npc-name left bold" title="{{ localize 'PEN.maxHPHint' }}">{{localize 'PEN.maxHP'}}</div>
        <div class="npc-name-input centre"><input name="system.manMaxHP" type="text" value="{{system.manMaxHP}}" data-dtype="Number"/></div>
        <div></div>
        <div class="npc-name left bold">{{localize 'PEN.wounds'}}</div>
        <div class="npc-name-input centre"><input name="system.woundTotal" type="number" min="0" oninput="validity.valid||(value='');" value="{{system.woundTotal}}" data-dtype="Number"/></div>

        <div class="npc-name left bold">{{localize 'PEN.knockdown'}}</div>
        <div class="npc-name-input centre"><input name="system.manKnockdown" type="text" value="{{system.manKnockdown}}" data-dtype="Number"/></div>
        <div></div>
        <div class="npc-name left bold">{{localize 'PEN.armour'}}</div>
        <div class="npc-name-input npc-armour centre" title = "{{localize 'PEN.armourShield'}}"><input name="system.manArm" type="text" value="{{system.manArm}}" data-dtype="Number"/> / <input name="system.manShd" type="text" value="{{system.manShd}}" data-dtype="Number"/></div>
      
        <div class="npc-name left bold">{{localize 'PEN.mjrWnd'}}</div>
        <div class="npc-name-input centre"><input name="system.manMjrWnd" type="text" value="{{system.manMjrWnd}}" data-dtype="Number"/></div>
        <div></div>
        <div class="npc-name left bold rollable glory">{{localize 'PEN.gloryAward'}}</div>
        <div class="npc-name-input centre"><input name="system.gloryAward" type="text" value="{{system.gloryAward}}" data-dtype="Number"/></div>

        <div class="npc-name left bold" title="{{ localize 'PEN.unconsciousHint' }}">{{localize 'PEN.unconscious'}}</div>
        <div class="npc-name-input centre"><input name="system.manUnconscious" type="text" value="{{system.manUnconscious}}" data-dtype="Number"/></div>
        <div></div>
        <div class="npc-name left bold" title="{{ localize 'PEN.valModHint' }}">{{localize 'PEN.valMod'}}</div>
        <div class="npc-name-input centre"><input name="system.valMod" type="text" value="{{system.valMod}}" data-dtype="Number"/></div>

        <div class="npc-name left bold">{{localize 'PEN.damage'}}</div>
        <div class="npc-name-input centre"><input name="system.manDmg" type="text" value="{{system.manDmg}}" data-dtype="Number"/></div>
        <div></div>
        <div class="npc-name left bold">{{localize 'PEN.healRate'}}</div>
        <div class="npc-name-input centre"><input name="system.manHealRate" type="text" value="{{system.manHealRate}}" data-dtype="Number"/></div>

        <div class="npc-name left bold rollable move">{{localize 'PEN.move'}}</div>
        <div class="npc-name-input centre"><input name="system.manMove" type="text" value="{{system.manMove}}" data-dtype="Number"/></div>
        <div></div>
        <div class="npc-name-input left bold"><input name="system.altMoveTitle" type="text" value="{{system.altMoveTitle}}"/></div>
        <div class="npc-name-input centre"><input name="system.altMove" type="text" value="{{system.altMove}}" data-dtype="Number"/></div>

      {{/if}}
    </section>

    {{!--Weapons Block --}}
    {{#isAnd noWeapon system.lock}}
    {{else}}
      <section class="npc-weapons-grid">
        <div class="npc-name bold grey">{{ localize "PEN.weapon" }}</div>  
        <div class="npc-name bold centre grey">{{ localize "PEN.value" }}</div>    
        <div class="npc-name bold centre grey">{{ localize "PEN.damage" }}</div>
        {{#unless system.lock}}     
          <div class="npc-name bold centre grey item-create" data-type="weapon">  
            <a title="{{localize 'PEN.add'}}"><i class="item-control fas fa-plus"></i></a>
          </div>
        {{else}}
          <div class="grey"></div>      
        {{/unless}}  
      

        {{#each weapons as |weapon key|}}
          {{#if ../system.lock}}
          <div class="npc-name rollable combat" data-type ="weapon" data-sourceID = "{{weapon.system.sourceID}}" data-itemid="{{weapon._id}}">{{weapon.name}}</div> 
          <div class="npc-name centre">{{weapon.system.value}}</div>   
          <div class="npc-name centre rollable damage" data-itemid="{{weapon._id}}">{{weapon.system.dmgForm}}</div>
          <div></div>      
          {{else}}
            <div class="npc-name-input item" data-field ="name" data-itemid="{{weapon._id}}"><input class="inline-edit" name="item.weapon.{{key}}.name" type="text" value="{{weapon.name}}"/></div>
            <div class="npc-name-input centre item" data-field ="score" data-itemid="{{weapon._id}}"><input class="inline-edit" name="item.system.weapon.{{key}}.value" type="text" value="{{weapon.system.value}}" data-dtype="Number"/></div>
            <div class="npc-name-input centre item" data-field ="damage" data-itemid="{{weapon._id}}"><input class="inline-edit" name="item.system.weapon.{{key}}.dmgForm" type="text" value="{{weapon.system.dmgForm}}"/></div>
            <div class="npc-name centre item" data-itemid ="{{weapon._id}}">
              <a class="item-control item-edit fade"><i title="{{localize 'PEN.view'}}" class="fa-solid fa-eye"></i></a>
              <a class="item-control item-delete fade"><i title="{{localize 'PEN.delete'}}" class="fa-solid fa-broom-wide"></i></a>
            </div>
          {{/if}}
        {{/each}}
      </section>  
    {{/isAnd}}

    {{!--Armour Block --}}
    {{#isAnd noArmour system.lock}}
    {{else}}  
      <section class="npc-weapons-grid">
        <div class="npc-name bold grey">{{ localize "PEN.armour" }}</div>  
        <div class="npc-name bold centre grey" title="{{localize 'PEN.armourHint'}}">{{ localize "PEN.arm" }}</div>    
        <div class="npc-name bold centre grey">{{ localize "PEN.ap" }}</div>    
        {{#unless system.lock}}     
          <div class="npc-name bold centre grey item-create" data-type="armour">  
            <a title="{{localize 'PEN.add'}}"><i class="item-control fas fa-plus"></i></a>
          </div>
        {{else}}
          <div class="grey"></div>      
        {{/unless}}  
  
        {{#each armours as |armour key|}}
          {{#if ../system.lock}}
          <div class="npc-name">{{armour.name}}</div> 
          <div class="npc-name centre"><a class="item-control"><i class="{{#if armour.system.type}}fa-regular fa-square-check{{else}}fa-regular fa-square{{/if}}"></i></a></div>
          <div class="npc-name centre">{{armour.system.ap}}</div>   
          <div></div>      
          {{else}}
            <div class="npc-name-input item" data-field ="name" data-itemid="{{armour._id}}"><input class="inline-edit" name="item.armour.{{key}}.name" type="text" value="{{armour.name}}"/></div>
            <div class="npc-name centre"><a class="item-control item-toggle" data-itemid ="{{armour._id}}" data-property="armour" title="{{localize 'PEN.dblClickToggle'}}"><i class="{{#if armour.system.type}}fa-regular fa-square-check{{else}}fa-regular fa-square{{/if}}"></i></a></div>
            <div class="npc-name-input centre item" data-field ="ap" data-itemid="{{armour._id}}"><input class="inline-edit" name="item.system.armour.{{key}}.ap" type="text" value="{{armour.system.ap}}" data-dtype="Number"/></div>
            <div class="npc-name centre item" data-itemid ="{{armour._id}}">
              <a class="item-control item-edit fade"><i title="{{localize 'PEN.view'}}" class="fa-solid fa-eye"></i></a>
              <a class="item-control item-delete fade"><i title="{{localize 'PEN.delete'}}" class="fa-solid fa-broom-wide"></i></a>
            </div>
          {{/if}}
        {{/each}}
      </section>    
    {{/isAnd}}

    {{!--Skills Block --}}
    {{#isAnd noSkill system.lock}}
    {{else}}
      <section class="npc-trait-grid">
        <div class="npc-name bold grey">{{ localize "PEN.skill" }}</div>  
        <div class="npc-name bold centre grey">{{ localize "PEN.valueShort" }}</div>    
        <div class="grey"></div>
        <div class="npc-name bold grey">{{ localize "PEN.skill" }}</div>  
        <div class="npc-name bold centre grey">{{ localize "PEN.valueShort" }}</div>    
        {{#unless system.lock}}     
          <div class="npc-name bold centre grey item-create" data-type="skill">  
            <a title="{{localize 'PEN.add'}}"><i class="item-control fas fa-plus"></i></a>
          </div>
        {{else}}
          <div class="grey"></div>      
        {{/unless}}  
    
        {{#each skills as |skill key|}}
          {{#if ../system.lock}}
          <div class="npc-name rollable skill-name" data-itemid="{{skill._id}}">{{skill.name}}</div> 
          <div class="npc-name centre">{{skill.system.value}}</div>   
          <div></div>      
          {{else}}
            <div class="npc-name-input item" data-field ="name" data-itemid="{{skill._id}}"><input class="inline-edit" name="item.skill.{{key}}.name" type="text" value="{{skill.name}}"/></div>
            <div class="npc-name-input centre item" data-field ="value" data-itemid="{{skill._id}}"><input class="inline-edit" name="item.system.skill.{{key}}.value" type="text" value="{{skill.system.value}}" data-dtype="Number"/></div>
            <div class="npc-name centre item" data-itemid ="{{skill._id}}">
              <a class="item-control item-edit fade"><i title="{{localize 'PEN.view'}}" class="fa-solid fa-eye"></i></a>
              <a class="item-control item-delete fade"><i title="{{localize 'PEN.delete'}}" class="fa-solid fa-broom-wide"></i></a>
            </div>
          {{/if}}
        {{/each}}
      </section>
    {{/isAnd}}

    {{!--Traits Block --}}
    {{#isAnd noTrait system.lock}}
    {{else}}
      <section class="npc-trait-grid">
        <div class="npc-name bold grey">{{ localize "PEN.trait" }}</div>  
        <div class="npc-name bold centre grey">{{ localize "PEN.valueShort" }}</div>    
        <div class="grey"></div>
        <div class="npc-name bold grey">{{ localize "PEN.trait" }}</div>  
        <div class="npc-name bold centre grey">{{ localize "PEN.valueShort" }}</div>    
        {{#unless system.lock}}     
          <div class="npc-name bold centre grey item-create" data-type="trait">  
            <a title="{{localize 'PEN.add'}}"><i class="item-control fas fa-plus"></i></a>
          </div>
        {{else}}
          <div class="grey"></div>      
        {{/unless}}  
  
        {{#each traits as |trait key|}}
          {{#if ../system.lock}}
          <div class="npc-name rollable trait" data-type ="trait" data-itemid="{{trait._id}}">{{trait.name}}</div> 
          <div class="npc-name centre">{{trait.system.value}}</div>   
          <div></div>      
          {{else}}
            <div class="npc-name-input item" data-field ="name" data-itemid="{{trait._id}}"><input class="inline-edit" name="item.trait.{{key}}.name" type="text" value="{{trait.name}}"/></div>
            <div class="npc-name-input centre item" data-field ="value" data-itemid="{{trait._id}}"><input class="inline-edit" name="item.system.trait.{{key}}.value" type="text" value="{{trait.system.value}}" data-dtype="Number"/></div>
            <div class="npc-name centre item" data-itemid ="{{trait._id}}">
              <a class="item-control item-edit fade"><i title="{{localize 'PEN.view'}}" class="fa-solid fa-eye"></i></a>
              <a class="item-control item-delete fade"><i title="{{localize 'PEN.delete'}}" class="fa-solid fa-broom-wide"></i></a>
            </div>
          {{/if}}
        {{/each}}
      </section>
    {{/isAnd}}

    {{!--Passions Block --}}
    {{#isAnd noPassion system.lock}}
    {{else}}    
      <section class="npc-trait-grid">
        <div class="npc-name bold grey">{{ localize "PEN.passion" }}</div>  
        <div class="npc-name bold centre grey">{{ localize "PEN.valueShort" }}</div>    
        <div class="grey"></div>
        <div class="npc-name bold grey">{{ localize "PEN.passion" }}</div>  
        <div class="npc-name bold centre grey">{{ localize "PEN.valueShort" }}</div>    
        {{#unless system.lock}}     
          <div class="npc-name bold centre grey item-create" data-type="passion">  
            <a title="{{localize 'PEN.add'}}"><i class="item-control fas fa-plus"></i></a>
          </div>
        {{else}}
          <div class="grey"></div>      
        {{/unless}}  
   
        {{#each passions as |passion key|}}
          {{#if ../system.lock}}
          <div class="npc-name rollable passion-name" data-itemid="{{passion._id}}">{{passion.name}}</div> 
          <div class="npc-name centre">{{passion.system.value}}</div>   
          <div></div>      
          {{else}}
            <div class="npc-name-input item" data-field ="name" data-itemid="{{passion._id}}"><input class="inline-edit" name="item.passion.{{key}}.name" type="text" value="{{passion.name}}"/></div>
            <div class="npc-name-input centre item" data-field ="value" data-itemid="{{passion._id}}"><input class="inline-edit" name="item.system.passion.{{key}}.value" type="text" value="{{passion.system.value}}" data-dtype="Number"/></div>
            <div class="npc-name centre item" data-itemid ="{{passion._id}}">
              <a class="item-control item-edit fade"><i title="{{localize 'PEN.view'}}" class="fa-solid fa-eye"></i></a>
              <a class="item-control item-delete fade"><i title="{{localize 'PEN.delete'}}" class="fa-solid fa-broom-wide"></i></a>
            </div>
          {{/if}}
        {{/each}}
      </section>       
    {{/isAnd}}  

    {{!--Horses Block --}}
    {{#isAnd noHorse system.lock}}
    {{else}}    
      <section class="npc-weapons-grid">
        <div class="npc-name bold grey">{{ localize "PEN.horse" }}</div>  
        <div class="npc-name bold centre grey">{{ localize "PEN.hpShort" }}</div>    
        <div class="npc-name bold centre grey">{{ localize "PEN.damage" }}</div>
        {{#unless system.lock}}     
          <div class="npc-name bold centre grey item-create" data-type="horse">  
            <a title="{{localize 'PEN.add'}}"><i class="item-control fas fa-plus"></i></a>
          </div>
        {{else}}
          <div class="grey"></div>      
        {{/unless}}  
      

        {{#each horses as |horse key|}}
          {{#if ../system.lock}}
          <div class="npc-name rollable" data-type ="horse" data-sourceID = "{{horse.system.sourceID}}" data-itemid="{{horse._id}}">{{horse.name}}</div> 
          <div class="npc-name-input centre item" data-field ="hp" data-itemid="{{horse._id}}"><input class="inline-edit" name="item.system.horse.{{key}}.value" type="text" value="{{horse.system.hp}}" data-dtype="Number"/></div>
          <div class="npc-name centre rollable damage" title="{{localize 'PEN.chargeDmgHint'}}: {{horse.system.chargeDmg}}" data-itemid="{{horse._id}}">{{horse.system.damage}}</div>
          <div></div>      
          {{else}}
            <div class="npc-name-input item" data-field ="name" data-itemid="{{horse._id}}"><input class="inline-edit" name="item.horse.{{key}}.name" type="text" value="{{horse.name}}"/></div>
            <div class="npc-name-input centre item" data-field ="hp" data-itemid="{{horse._id}}"><input class="inline-edit" name="item.system.horse.{{key}}.value" type="text" value="{{horse.system.hp}}" data-dtype="Number"/></div>
            <div class="npc-name-input centre item" data-field ="damage" data-itemid="{{horse._id}}"><input class="inline-edit" name="item.system.horse.{{key}}.damage" type="text" value="{{horse.system.damage}}"/></div>
            <div class="npc-name centre item" data-itemid ="{{horse._id}}">
              <a class="item-control item-edit fade"><i title="{{localize 'PEN.view'}}" class="fa-solid fa-eye"></i></a>
              <a class="item-control item-delete fade"><i title="{{localize 'PEN.delete'}}" class="fa-solid fa-broom-wide"></i></a>
            </div>
          {{/if}}
        {{/each}}
      </section>      
    {{/isAnd}}  

    {{!--Notes Block --}}
    <section class="npc-notes-grid">
      <div class="npc-name bold grey">{{ localize "PEN.notes" }}</div>  
      <div>
        {{editor enrichedDescriptionValue engine="prosemirror" class="npc-notes-doc" target="system.description" button=true owner=owner editable=editable}}
      </div>
    </section>
  </section>
</form>