  <header class="sheet-header">
    <div class="header-fields">
      <div class="charname-input" style="width: 410px;"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></div>
    </div>
    <img class="profile-img" src="{{item.img}}" data-edit="img" data-action='onEditImage' height="100" width="100"title="{{item.name}}"/>
  </header>