<form class="{{cssClass}}" autocomplete="off">

    <header class="sheet-header">
      <div class="header-fields">
        <div class="charname-input"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></div>
      </div>
      <img class="profile-img" src="{{item.img}}" data-edit="img" height="100" width="100"title="{{item.name}}"/>
    </header>
  
    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
      <a class="item tab-name" data-tab="attributes">{{localize 'PEN.attributes'}}</a>
      <a class="item tab-name" data-tab="description">{{localize 'PEN.description'}}</a>
      {{#if isGM}}<a class="item tab-name" data-tab="gmTab">{{localize 'PEN.gmTab'}}</a>{{/if}}
    </nav>
  
    {{!-- Sheet Body --}}
    <section class="item-bottom-panel">
      <section class="sheet-body">
  
        {{!-- Attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">
          <br>
          {{!-- Primary Passions --}}
            <div class="horizontalboxed {{#if isGM}} droppable {{/if}} virtues" data-collection = "passions">
            <div class="stat-name">{{ localize "PEN.passions"}}</div>
            <ol class="item-list">
              {{#each passions as |passion|}}
                <li class="item flexrow" data-item-id="{{passion.uuid}}" data-pid = "{{passion.flags.Pendragon.pidFlag.id}}" >
                  <div class="item-name flexrow">
                    {{#if passion.valid}}
                      <div class="stat-name">{{passion.name}}</div>
                    {{else}}
                      <div class="stat-name result-success">{{passion.name}} [{{localize 'PEN.invalid'}}]</div>
                    {{/if}}                    
                  </div>
                  <div class="item-controls">
                    {{#if ../isGM}}
                      <a class="item-control item-delete" title="{{localize 'PEN.deleteItem'}}"><i class="fas fa-trash"></i></a>
                    {{/if}}
                  </div>
                </li>
              {{/each}}
            </ol>
            </div>
            </div>
            <br>

        {{!-- Description Tab --}}
        <div class="tab description" data-group="primary" data-tab="description">
          {{editor enrichedDescriptionValue engine="prosemirror" class="background-doc" target="system.description" button=true owner=owner editable=editable}}
        </div>
      
        {{!-- GM Tab --}}
        <div class="tab description" data-group="primary" data-tab="gmTab">
          <div class="stat-name bold">{{localize 'PEN.gmNotes'}}:</div>
            {{editor enrichedGMDescriptionValue engine="prosemirror" class="background-doc" target="system.GMdescription" button=true owner=owner editable=editable}}
        </div>
  
      </section>
    </section>
  </form>
  