<form class="{{cssClass}}" autocomplete="off">

  <header class="sheet-header">
    <div class="header-fields">
      <div class="charname-input"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></div>
    </div>
    <img class="profile-img" src="{{item.img}}" data-edit="img" height="100" width="100"title="{{item.name}}"/>
  </header>
  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item tab-name" data-tab="attributes">{{localize 'PEN.attributes'}}</a>
    <a class="item tab-name" data-tab="description">{{localize 'PEN.description'}}</a>
    {{#if isGM}}<a class="item tab-name" data-tab="gmTab">{{localize 'PEN.gmTab'}}</a>{{/if}}
  </nav>

  {{!-- Sheet Body --}}
  <section class="item-bottom-panel">
    <section class="sheet-body">

      {{!-- Attributes Tab --}}
      <div class="tab attributes" data-group="primary" data-tab="attributes">
        <div class = "warhorse-grid">
          {{#if isGM}}
            <div class="stat-name left bold">{{localize 'PENDRAGON.StatSizAbbr'}}</div>
            <div class="stat-name-input centre {{#if (eq item.system.siz null)}} input-border {{/if}} dam-value"><input name="system.siz" type="text" value="{{item.system.siz}}" data-dtype="Number"/></div>
            <div></div>
            <div class="stat-name left bold">{{localize 'PEN.armour'}}</div>
            <div class="stat-name-input centre {{#if (eq item.system.armour null)}} input-border {{/if}} dam-value"><input name="system.armour" type="text" value="{{item.system.armour}}" data-dtype="Number"/></div>

            <div class="stat-name left bold">{{localize 'PENDRAGON.StatDexAbbr'}}</div>
            <div class="stat-name-input centre {{#if (eq item.system.dex null)}} input-border {{/if}} dam-value"><input name="system.dex" type="text" value="{{item.system.dex}}" data-dtype="Number"/></div>
            <div></div>
            <div class="stat-name left bold">{{localize 'PEN.move'}}</div>
            <div class="stat-name-input centre {{#if (eq item.system.move null)}} input-border {{/if}} dam-value"><input name="system.move" type="text" value="{{item.system.move}}" data-dtype="Number"/></div>
      
            <div class="stat-name left bold">{{localize 'PENDRAGON.StatStrAbbr'}}</div>
            <div class="stat-name-input centre {{#if (eq item.system.str null)}} input-border {{/if}} dam-value"><input name="system.str" type="text" value="{{item.system.str}}" data-dtype="Number"/></div>
            <div></div>
            <div class="stat-name left bold">{{localize 'PEN.damage'}}</div>
            <div class="stat-name-input centre {{#if (eq item.system.damage '')}} input-border {{/if}} dam-value"><input name="system.damage" type="text" value="{{item.system.damage}}"/></div>

            <div class="stat-name left bold">{{localize 'PENDRAGON.StatConAbbr'}}</div>
            <div class="stat-name-input centre {{#if (eq item.system.con null)}} input-border {{/if}} dam-value"><input name="system.con" type="text" value="{{item.system.con}}" data-dtype="Number"/></div>
            <div></div>
            {{#if item.system.combat}}
              <div class="stat-name left bold">{{localize 'PEN.chargeDmg'}}</div>
              <div class="stat-name-input centre {{#if (eq item.system.chargeDmg null)}} input-border {{/if}} dam-value"><input name="system.chargeDmg" type="text" value="{{item.system.chargeDmg}}"/></div>
            {{/if}}

            <div class="stat-name left bold new-row">{{localize 'PEN.maxHP'}}</div>
            <div class="stat-name-input centre {{#if (eq item.system.maxHP null)}} input-border {{/if}} dam-value"><input name="system.maxHP" type="text" value="{{item.system.maxHP}}" data-dtype="Number"/></div>
            <div></div>
          {{else}}
            <div class="stat-name left bold">{{localize 'PENDRAGON.StatSizAbbr'}}</div>
            <div class="stat-name centre">{{item.system.siz}}</div>
            <div></div>
            <div class="stat-name left bold">{{localize 'PEN.armour'}}</div>        
            <div class="stat-name centre">{{item.system.armour}}</div>

            <div class="stat-name left bold">{{localize 'PENDRAGON.StatDexAbbr'}}</div>
            <div class="stat-name centre">{{item.system.dex}}</div>
            <div></div>
            <div class="stat-name left bold">{{localize 'PEN.move'}}</div>
            <div class="stat-name centre">{{item.system.move}}</div>
    
            <div class="stat-name left bold">{{localize 'PENDRAGON.StatStrAbbr'}}</div>
            <div class="stat-name centre">{{item.system.str}}</div>
            <div></div>
            <div class="stat-name left bold">{{localize 'PEN.damage'}}</div>
            <div class="stat-name centre">{{item.system.damage}}</div>

            <div class="stat-name left bold">{{localize 'PENDRAGON.StatConAbbr'}}</div>
            <div class="stat-name centre">{{item.system.con}}</div>
            <div></div>
            {{#if item.system.combat}}
              <div class="stat-name left bold">{{localize 'PEN.chargeDmg'}}</div>
              <div class="stat-name centre">{{item.system.chargeDmg}}</div>
            {{/if}}

            <div class="stat-name left bold new-row">{{localize 'PEN.maxHP'}}</div>
            <div class="stat-name centre">{{item.system.maxHP}}</div>
            <div></div>
          {{/if}}

          <div class="stat-name left bold">{{localize 'PEN.hpShort'}}</div>
          <div class="stat-name-input centre {{#if (eq item.system.hp null)}} input-border {{/if}} dam-value"><input name="system.hp" type="text" value="{{item.system.hp}}" data-dtype="Number"/></div>

        </div>
      <br>

      <div class="item-armour-grid">
        <div class="stat-name left bold">{{localize 'PEN.combatTrained'}}</div>
        <div class=""><a class="item-control {{#if isGM}} item-toggle {{/if}} large-icon" data-property = "combat" title="{{localize 'PEN.dblClickToggle'}}"><i class="{{#if item.system.combat}}fa-regular fa-square-check{{else}}fa-regular fa-square{{/if}}"></i></a></div>
        <div class="stat-name left bold">{{localize 'PEN.special'}}</div>
        <div class=""><a class="item-control {{#if isGM}} item-toggle {{/if}} large-icon" data-property = "special" title="{{localize 'PEN.dblClickToggle'}}"><i class="{{#if item.system.special}}fa-regular fa-square-check{{else}}fa-regular fa-square{{/if}}"></i></a></div>
        {{#if hasOwner}} 
          <div class="stat-name left bold new-row">{{localize 'PEN.ridden'}}</div>
          <div class=""><a class="item-control item-toggle large-icon" data-property = "equipped" title="{{localize 'PEN.dblClickToggle'}}"><i class="{{#if item.system.equipped}}fa-regular fa-square-check{{else}}fa-regular fa-square{{/if}}"></i></a></div>
          <div class="stat-name left bold new-row">{{localize 'PEN.horseArmour'}}</div>
          <div class="stat-name-input left {{#if (eq item.system.horseArmour null)}} input-border {{/if}} dam-value"><input name="system.horseArmour" type="text" value="{{item.system.horseArmour}}" data-dtype="Number"/></div>        
          <div class="stat-name left bold" title="{{localize 'PEN.degradedHint'}}">{{localize 'PEN.degraded'}}</div>
          <div class=""><a class="item-control item-toggle large-icon" data-property = "poor" title="{{localize 'PEN.dblClickToggle'}}"><i class="{{#if item.system.poor}}fa-regular fa-square-check{{else}}fa-regular fa-square{{/if}}"></i></a></div>
          <div class="stat-name left bold">{{localize 'PEN.health'}}</div>
          <div class="stat-name">
            <select data-handle-change name="system.horseHealth">
              {{selectOptions horseStatusList selected=item.system.horseHealth}}
            </select>
          </div> 
          <div class="stat-name left bold">{{localize 'PEN.care'}}</div>
          <div class="stat-name">
            <select data-handle-change name="system.horseCare">
              {{selectOptions horseStatusList selected=item.system.horseCare}}
            </select>
          </div> 
        {{/if}}
      </div>
    </div>


    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      <div class="money-grid">
        <div class="stat-name left bold">{{localize 'PEN.price'}}</div>
        <div class="stat-name-input {{#if (eq item.system.libra '')}} input-border {{/if}} left"><input name="system.libra" type="text" value="{{item.system.libra}}" data-dtype="Number"/></div>
        <div class="stat-name left bold">/</div>
        <div class="stat-name-input {{#if (eq item.system.denarii '')}} input-border {{/if}} left"><input name="system.denarii" type="text" value="{{item.system.denarii}}" data-dtype="Number"/></div>
      </div>
    
      <div class="stat-name bold">{{localize 'PEN.description'}}:</div>
      <div class="description">
        {{editor enrichedDescriptionValue engine="prosemirror" class="background-doc" target="system.description" button=true owner=owner editable=editable}}
      </div>
    </div> 

    {{!-- GM Tab --}}
    <div class="tab description" data-group="primary" data-tab="gmTab">
      <div class="stat-name bold">{{localize 'PEN.gmNotes'}}:</div>
        {{editor enrichedGMDescriptionValue engine="prosemirror" class="background-doc" target="system.GMdescription" button=true owner=owner editable=editable}}
    </div>

  </section>
  </section>
</form>
