<form class="{{cssClass}}" autocomplete="off">

  <header class="sheet-header">
    <div class="header-fields">
      <div class="charname-input"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></div>
    </div>
    <img class="profile-img" src="{{item.img}}" data-edit="img" height="100" width="100"title="{{item.name}}"/>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item tab-name" data-tab="attributes">{{localize 'PEN.attributes'}}</a>
    <a class="item tab-name" data-tab="description">{{localize 'PEN.description'}}</a>
    {{#if isGM}}<a class="item tab-name" data-tab="gmTab">{{localize 'PEN.gmTab'}}</a>{{/if}}
  </nav>

  {{!-- Sheet Body --}}
  <section class="item-bottom-panel">
    <section class="sheet-body">
      {{!-- Attributes Tab --}}
      <div class="tab attributes" data-group="primary" data-tab="attributes">
        <div class="item-trait-grid">
          {{#if isGM}}
              <div class="stat-name left bold" title="{{localize 'PEN.familyCharHint'}}">{{localize 'PEN.familyChar'}}</div>
              <div class="stat-name-input centre {{#if (eq item.system.familyChar '')}} input-border {{/if}}" ><input name="system.familyChar" type="text" value="{{item.system.familyChar}}"/></div>  
          {{else}}
          <div class="stat-name left bold" title="{{localize 'PEN.familyCharHint'}}">{{localize 'PEN.familyChar'}}</div>
          <div class="stat-name centre">{{item.system.familyChar}}</div>  
          {{/if}}
          <br>
          <div class="stat-name left bold new-row">{{localize 'PEN.nonknightly'}}</div>
          <div class="centre"><a class="item-control {{#if isGM}}item-toggle{{/if}} large-icon" data-property = "nonknightly" title="{{localize 'PEN.dblClickToggle'}}"><i class="{{#if item.system.nonknightly}}fa-regular fa-square-check{{else}}fa-regular fa-square{{/if}}"></i></a></div>
          <br>
          <div class="stat-name left bold new-row">{{localize 'PEN.combatSkill'}}</div>
          <div class="centre"><a class="item-control {{#if isGM}}item-toggle{{/if}} large-icon" data-property = "combat" title="{{localize 'PEN.dblClickToggle'}}"><i class="{{#if item.system.combat}}fa-regular fa-square-check{{else}}fa-regular fa-square{{/if}}"></i></a></div>

          {{#if item.system.combat}}
            <br>
            <div></div>
            <div class="stat-name left bold">{{localize 'PEN.weaponType'}}</div>          
            {{#if isGM}}
              <div class="stat-name right">
              <select data-handle-change name="system.weaponType">
                {{selectOptions weaponType selected=item.system.weaponType}}
              </select>
              </div>
            {{else}}
              <div class="stat-name centre">{{weapon}}</div>
            {{/if}}
          {{/if}}
          <br>

          <div class="stat-name left bold new-row">{{localize 'PEN.baseVal'}}</div>
          <div class="stat-name left indent bold new-row">{{localize 'PEN.baseStat'}}</div>
          {{#if isGM}}
            <div class="stat-name centre">
              <select data-handle-change name="system.base.stat">
                {{selectOptions statType selected=item.system.base.stat}}
              </select>
            </div>
            <div class="stat-name left indent bold new-row">{{localize 'PEN.baseMult'}}</div>
            <div class="stat-name-input  {{#if (eq item.system.base.multi '')}} input-border {{/if}} centre"><input name="system.base.multi" type="text" value="{{item.system.base.multi}}" data-dtype="Number"/></div>
            <div class="stat-name left bold indent new-row">{{localize 'PEN.baseMod'}}</div>
            <div class="stat-name-input  {{#if (eq item.system.base.mod '')}} input-border {{/if}} centre"><input name="system.base.mod" type="text" value="{{item.system.base.mod}}" data-dtype="Number"/></div>          
          {{else}}
            <div class="stat-name centre">{{stat}}</div>
            <div class="stat-name left indent bold new-row">{{localize 'PEN.baseMult'}}</div>
            <div class="stat-name centre">{{item.system.base.multi}}</div>
            <div class="stat-name left bold indent new-row">{{localize 'PEN.baseMod'}}</div>
            <div class="stat-name centre">{{item.system.base.mod}}</div>    
          {{/if}}
      
          <br>  
        {{#if hasOwner}}  
            <div class="stat-name left bold new-row">{{localize 'PEN.score'}}</div>
            <div class="stat-name indent bold new-row">{{localize 'PEN.baseVal'}}</div>
            <div class="stat-name-input  centre"><input name="system.value" type="text" value="{{item.system.value}}" data-dtype="Number"/></div>
            <div class="stat-name indent bold">{{localize 'PEN.culture'}}</div>
            <div class="stat-name-input  centre"><input name="system.culture" type="text" value="{{item.system.culture}}" data-dtype="Number"/></div>
            <div class="stat-name indent bold">{{localize 'PEN.familyChar'}}</div>
            <div class="stat-name-input  centre"><input name="system.family" type="text" value="{{item.system.family}}" data-dtype="Number"/></div>
            <div class="stat-name indent bold">{{localize 'PEN.creation'}}</div>
            <div class="stat-name-input  centre"><input name="system.create" type="text" value="{{item.system.create}}" data-dtype="Number"/></div>
            <div class="stat-name indent bold">{{localize 'PEN.winter'}}</div>
            <div class="stat-name-input  centre"><input name="system.winter" type="text" value="{{item.system.winter}}" data-dtype="Number"/></div>
            <div class="stat-name indent bold ">{{localize 'PEN.total'}}</div>
            <div class="stat-name centre bold">{{item.system.total}}</div>
            <br>
            <div class="stat-name left bold new-row">{{localize 'PEN.xpCheck'}}</div>
            <div class="centre"><a class="item-control item-toggle large-icon" data-property = "XP" title="{{localize 'PEN.dblClickToggle'}}"><i class="{{#if item.system.XP}}fa-regular fa-square-check{{else}}fa-regular fa-square{{/if}}"></i></a></div>
        {{/if}}
      </div>
    </div>

      {{!-- Description Tab --}}
      <div class="tab description" data-group="primary" data-tab="description">
        {{editor enrichedDescriptionValue engine="prosemirror" class="background-doc" target="system.description" button=true owner=owner editable=editable}}
      </div>

      {{!-- GM Tab --}}
      <div class="tab description" data-group="primary" data-tab="gmTab">
        <div class="stat-name bold">{{localize 'PEN.gmNotes'}}:</div>
          {{editor enrichedGMDescriptionValue engine="prosemirror" class="background-doc" target="system.GMdescription" button=true owner=owner editable=editable}}
      </div>

    </section>
  </section>
</form>
