<form class="{{cssClass}}" autocomplete="off">

  <header class="sheet-header">
    <div class="header-fields">
      <div class="charname">{{localize 'PEN.wound'}}</div>
    </div>
  </header>

  <section >
    <div class = "history-small-grid">
      <div class="stat-name left bold">{{localize 'PEN.damage'}}</div>
      <div class="stat-name-input centre bottom dam-value"><input name="system.value" type="text" value="{{item.system.value}}" data-dtype="Number"/></div>
      <br>
      <div></div>

    </div>

  </section>
</form>
